body {
	padding: 0;
	margin: 0;
    background-color: rgb(163, 139, 108);
}
.h1{
    text-align: center;
}
.container {
	height: 500px;
	width: 325px;
	background-color: rgb(93, 149, 158);
	position: absolute;
	margin:auto;
    border-style: solid;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.cat {
	position:relative;
	top: 150px;
	left: 50px;
}
.face {
	background-color: #33292b;
	height: 100px;
	width: 150px;
	border-radius: 30px;
}
.ear-l,
.ear-r {
	width: 0;
	height: 0;
	border-bottom: 50px solid #33292b;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: relative;
	z-index: -1;
}
.ear-l {
	bottom: 35px;
	transform: rotate(-30deg);
}
.ear-r {
	bottom: 85px;
	left: 110px;
	transform: rotate(30deg);
}
.inner1 {
	width: 0;
	height: 0;
	border-bottom: 50px solid #d36149;
	border-left: 25px solid transparent;
	right: 25px;
	position: relative;
}
.inner2 {
	width: 0;
	height: 0;
	border-bottom: 50px solid #d36149;
	border-right: 25px solid transparent;
	position: relative;
}
.eye-l,
.eye-r {
	background-color: #d2873b;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
}
.eye-l {
	bottom: 75px;
	left: 30px;
}
.eye-r {
	bottom: 105px;
	left: 90px;
}
.eyeball {
	background-color: #262626;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
	top: 3px;
	left: 3px;
}
.nose {
	height: 0;
	width: 0;
	border-top: 8px solid #d36149;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: relative;
	bottom: 110px;
	left: 68px;
}
.l1,
.l2 {
	background-color: #d36149;
	height: 8px;
	width: 1px;
	position: relative;
}
.l1 {
	transform: rotate(45deg);
	right: 4px;
	bottom: 1.5px;
}
.l2 {
	transform: rotate(-45deg);
	bottom: 10px;
	left: 3px;
}
.body {
	background-color: #33292b;
	height: 120px;
	width: 130px;
	position: relative;
	left: 30px;
	bottom: 70px;
	border-radius: 0 65px 0 0;
}
.paw-l,
.paw-r {
	background-color: #33292b;
	height: 10px;
	width: 22px;
	position: relative;

	border-radius: 0 0px 10px 10px;
}
.paw-l {
	top: 120px;
}
.paw-r {
	top: 110px;
	left: 50px;
}
.tail {
	background-color: #33292b;
	width: 100px;
	height: 20px;
	position: relative;
	top: 80px;
	left: 100px;
	border-radius: 0 20px 20px 0;
}
.shadow {
	background-color: rgba(8, 8, 8, 0.05);
	height: 30px;
	width: 150px;
	border-radius: 50%;
	position: relative;
	bottom: 75px;
	left: 20px;
	z-index: -1;
}

.contact_container {
    position: absolute;
    left: 30%;
    bottom: 600px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
/* Media query for desktop with resolution of 1680 x 1050*/
@media only screen and (min-width: 1680px) and (min-height: 1050px) {
    body {
        font-size: 18px;
    }

 /* Media query for iPad with a resolution of 1024 x 768 */
 @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    /* Add specific styles for iPad in portrait mode */
    body {
        font-size: 14px;
    }
}

@media only screen and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    /* Add specific styles for iPad in landscape mode */
    body {
        font-size: 14px;
    }
}

  /* Media query for mobile devices with a resolution of 480 x 320 */
  @media only screen and (max-width: 480px) and (max-height: 320px) {
    body {
        font-size: 14px;
    }
}